<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <script src="https://kit.fontawesome.com/6e3ab856ca.js" crossorigin="anonymous"></script>
 
    <!-- AUTHOR STYLESHEET -->
    <base href="/">
    <link rel="stylesheet" href="stylesheets/2players/icons-2players/icons-2players-4x4.css">
    <title>Solo-4x4-Numbers</title>
</head>
<body>
    
    <script src="javascripts/2players/icons-2players/icons_2p_4x4.js"></script>
</body>
</html>