<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
 
    <!-- AUTHOR STYLESHEET -->
    <link rel="stylesheet" href="stylesheets/numbers-solo/numbers-solo-6x6.css">
    <title>Solo-4x4-Numbers</title>
</head>
<body>
    
    <script src="javascripts/numbers-solo/numbers_1p_6x6.js"></script>
</body>
</html>