/* FONT */
@font-face {
    font-family: 'Atkinson Hyperlegible', sans-serif; 
    src: url(../fonts/AtkinsonHyperlegible-Regular.ttf);
}

body {
    background-color: #152938;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-weight: 18px;
    font-family: 'Atkinson Hyperlegible', sans-serif; 
}

/* === GENERAL === */

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 8rem;
}

.btn {
    background-color: #BCCED9;
    color: #FFF;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    padding: .8rem 0 .8rem 0;
    width: 8.5rem;
}

.btn-2 {
    background-color: #BCCED9;
    color: #FFF;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    padding: .8rem 0 .8rem 0;
    width: 4rem;
}

.start-btn {
    background-color: #FDA214;
    color: #FFF;
    font-weight: bold;
    border: none;
    font-size: 15px;
    border-radius: 2rem;
    padding: 1rem 0 1rem 0;
    width: 18rem;
}

/* === GAME SETUP === */

.header_text {
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 3rem;
    align-self: center;
}

.menu-bg {
    background-color: #F2F2F2;
    width: 90%;
    height: 25rem;
    max-width: 400px;
    align-self: center;
    border-radius: .5rem;
}

/* SELECT THEME */
#select-theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}


#select-theme > span {
    align-self: center;
    position: relative;
    right: 6.2rem;
    margin-bottom: .7rem;
    color: #7191A5;
    font-weight: bold;
    font-size: 14px;
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    gap: .6rem;
}

/* NUMBERS OF PLAYERS */
#numbers-of-players {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}


#numbers-of-players > span {
    align-self: center;
    position: relative;
    right: 5rem;
    margin-bottom: .7rem;
    color: #7191A5;
    font-weight: bold;
    font-size: 14px;
}

/* GRID SIZE */

#grid-system {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}


#grid-system > span {
    align-self: center;
    position: relative;
    right: 7rem;
    margin-bottom: .7rem;
    color: #7191A5;
    font-weight: bold;
    font-size: 14px;
}

/* START GAME */

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}


#start > span {
    align-self: center;
    position: relative;
    right: 7rem;
    margin-bottom: .7rem;
    color: #7191A5;
    font-weight: bold;
    font-size: 14px;
}

/* === MEDIA QUERIES === */

@media (min-width: 768px) {
    .menu-bg {
        background-color: #F2F2F2;
        width: 90%;
        max-width: 400px;
        height: 25rem;
        align-self: center;
        border-radius: .5rem;
    }

    .btn {
        background-color: #BCCED9;
        color: #FFF;
        font-weight: bold;
        border: none;
        border-radius: 2rem;
        padding: .6rem 0 .6rem 0;
        width: 10.6rem;
    }
    
    .btn-2 {
        background-color: #BCCED9;
        color: #FFF;
        font-weight: bold;
        border: none;
        border-radius: 2rem;
        padding: .6rem 0 .6rem 0;
        width: 5rem;
    }
    
    .start-btn {
        background-color: #FDA214;
        color: #FFF;
        font-weight: bold;
        border: none;
        font-size: 15px;
        border-radius: 2rem;
        padding: .8rem 0 .8rem 0;
        width: 21.5rem;
    }
    
    /* SELECT THEME */ 
#select-theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}


#select-theme > span {
    align-self: center;
    position: relative;
    right: 8rem;
    margin-bottom: .7rem;
    color: #7191A5;
    font-weight: bold;
    font-size: 14px;
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    gap: .6rem;
}

/* NUMBERS OF PLAYERS */
#numbers-of-players {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}


#numbers-of-players > span {
    align-self: center;
    position: relative;
    right: 6.5rem;
    margin-bottom: .7rem;
    color: #7191A5;
    font-weight: bold;
    font-size: 14px;
}

/* GRID SIZE */

#grid-system {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}


#grid-system > span {
    align-self: center;
    position: relative;
    right: 9rem;
    margin-bottom: .7rem;
    color: #7191A5;
    font-weight: bold;
    font-size: 14px;
}

/* START GAME */

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}


#start > span {
    align-self: center;
    position: relative;
    right: 7rem;
    margin-bottom: .7rem;
    color: #7191A5;
    font-weight: bold;
    font-size: 14px;
}
}