<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">

  <!-- AUTHOR STYLESHEET -->
  <link rel="stylesheet" href="stylesheets/game-menu.css">

  <title>Memory Game</title>
</head>
<body>


<script src="javascripts/memory.js"></script>
</body>
</html>